 <!-- About Section -->
    <section class="blue" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <p>I hope you are loving your experience with Sync Tab Groups. If so, don't hesitate to add a nice review on the extension download page (<a href="{{site.urls.firefox}}">Firefox</a> or <a href="{{site.urls.chrome}}">Chrome</a>) for sharing it.</p>
                </div>
                <div class="col-lg-4">
                    <p>Beyond to use it, you can contribute. Like finding bugs, suggesting great new features to add or simply translating it in your language. For any reasons, don't hesitate to <a href="#contact">contact me</a>.</p>
                </div>
                <div class="col-lg-4">
                    <p>Sync Tab Groups is an extension I am developing in my free time. I am doing everything to provide you the best extension. For those who came across bugs, I apologize for the disagreement.</p>
                </div>

            </div>
        </div>
    </section>
