 <!-- Demo Section -->
    <section class="blue" id="demo">
        <div class="container video-container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Demo</h2>
                    <hr class="star-light">
                </div>
            </div>
            <iframe width="560" height="315" id="presentation-video" src="https://www.youtube.com/embed/XAnYkCCQwGg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </section>
