
    <!-- Portfolio Grid Section -->
    <section id="guide">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Guide</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
              {% assign guides = site.pages
                | where_exp: "item" , "item.path contains 'guides'"
                | where_exp: "item" , "item.visible != false"
                 %}
              {% for post in guides %}
              <div class="col-sm-4 portfolio-item">
                  <a href="#id-modal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                      <div class="caption">
                          <div class="caption-content">
                              <i class="fa fa-search-plus fa-3x"></i>
                          </div>
                      </div>
                      <img src="img/guide/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
                  </a>
                  <span class="portfolio-link">{{ post.title }}</span>
              </div>
              {% endfor %}
            </div>
        </div>
    </section>
