 <!-- Presentation Section -->
    <section class="" id="presentation">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Presentation</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <h3>Group your tabs</h3>
            <div class="row">
                <div class="col-lg-4">
                    <h4>What is a group ?</h4>
                    <p>A group has a name and contains many tabs related. It is either displayed in a window. Or closed, and waiting the next time you will use it. You can switch from one to another in your current window or in another window.</p>
                </div>
                <div class="col-lg-4">
                    <h4>Why your browsing is better ?</h4>
                    <p>With your groups, you won't care about stopping a task and focusing on another one. With the possibility to search and activate tabs and groups, you won't lose time to retrieve them.</p>
                </div>
                <div class="col-lg-4">
                    <h4>How to use them ?</h4>
                    <p>A popup is usable from anywhere in your browser. It shows your groups and let you do the actions with just few clicks. More than just activating tabs, you can move and close them.</p>
                </div>
            </div>
            <h3>Features</h3>
            <div class="row">
                <div class="col-lg-4">
                    <h4>Groups</h4>
                    <ul>
                      <li>Sort & Name</li>
                      <li>Open: automatically updated </li>
                      <li>Close: saved for later use</li>
                      <li>Filter & Find</li>
                      <li>Tab actions: close, move and open</li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <h4>Simple</h4>
                    <ul>
                      <li>Menu for managing</li>
                      <li>Import/Export the groups</li>
                      <li>Automatic back up</li>
                      <li>Fast tabs closing & opening</li>
                      <li>Shortcuts</li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <h4>Personalized</h4>
                    <ul>
                      <li>Behavior on:</li>
                      <ul>
                        <li>Pinned tabs</li>
                        <li>New Windows</li>
                        <li>Private Windows</li>
                      </ul>
                      <li>Never lost, all the options are detailed</li>
                      <li>And many more options and actions</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
